nav a {
    &:hover{
    background-color: #fcddb5;
    }
}

a {
    &:link { 
        text-decoration:none; color: white; 
    }
    &:visited{ 
        color:$color-secundario; 
    }
}   

.tblanco{
    color: white;
}


body{
    background-color: $color-titulos2;
}


main {
    line-height: 1,5;
    padding: 0;
    p{
        text-align: justify; 
        line-height: 1,5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: $color-grisoscuro;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
    }
}   

P::selection {
    color: $color-grisoscuro;
    background-color: $color-secundario;
} 

/*--Base flexbox--*/
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}