h1 {
    color: $color-titulos2;
    background-color: $color-grisoscuro;
    text-align: center¿;
    z-index: -2;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

h2 {
    color: $color-titulos2;
    background-color: $color-grisoscuro;
    text-align: center¿;
    z-index: -2;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
    
    h3 {
    color: $color-titulos2;
    background-color: $color-grisoscuro;
    text-align: center¿;
    z-index: -2;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
    
    h4{
    color: $color-titulos2;
    background-color: $color-grisoscuro;
    text-align: center¿;
    z-index: -2;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;   
    }
    
    h5{
    color: $color-titulos2;
    background-color: $color-grisoscuro;
    text-align: center¿;
    z-index: -2;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; 
    }
    
    h6{
    color: $color-titulos2;
    background-color: $color-grisoscuro;
    text-align: center¿;
    z-index: -2;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
    
    li{
    color: $color-titulos2;
    background-color: $color-grisoscuro;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }